body {
    color: white;
    background-color: black;
}

.information {
    display: flex;
}

.container {
    font-family: "EB Garamond", serif;
    margin: 3rem;
}

#border {
    display: flex;
    border-top: 2px solid rgba(160, 160, 160, 0.637);
    border-bottom: 2px solid rgba(160, 160, 160, 0.637);
}

#info {
    font-size: 1.5rem;
    width: 30rem;
}

* {
    box-sizing: border-box;
}

.bar {
    margin-top: 2.1rem;
    margin-left: 5rem;
    width: 200%;
    background-color: rgb(37, 36, 36);
}

.detail {
    padding: 10px;
}

.damage {
    background-color: rgb(255, 255, 255);
}
.range {
    background-color: white;
}
.firerate {
    background-color: white;
}
.reload {
    background-color: white;
}
.accuracy {
    background-color: white;
}

.page1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.page2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.page2 .grid-item {
    display: none;
}
.previous {
    display: none;
}
.pageChanger {
    padding-left: 50rem;
}
button {
    width: 8rem;
}
.grid-item {
    font-size: 30px;
    text-align: center;
}
