body {
    font-family: "EB Garamond", serif;
    color: white;
    background-color: black;
}

.information {
    display: flex;
}

.container {
    margin: 1rem;
}

@media only screen and (max-width: 320px) {
    :root {
        font-size: 10pt;
    }

    .container {
        margin: 0;
    }

    :root img {
        width: 100%;
    }

    #border {
        display: flex;
        flex-direction: column;
        overflow-x: scroll;
    }
    .grid-container img {
        width: 100%;
    }
    .grid-container .pageChanger {
        padding: 0;
    }
    :root #info {
        width: 100%;
    }
    .grid-container .page1 {
        padding: 0;
    }
    .grid-container .page2 {
        padding: 0;
    }

    .footnote {
        font-size: 0.7rem;
    }
}

#border {
    display: flex;
    border-top: 2px solid rgba(160, 160, 160, 0.637);
    border-bottom: 2px solid rgba(160, 160, 160, 0.637);
    width: 100%;
}

#info {
    font-size: 1.5rem;
    width: 30rem;
}

* {
    box-sizing: border-box;
}

.bar {
    margin-top: 2.1rem;
    margin-left: 5rem;
    width: 150%;
    background-color: rgb(37, 36, 36);
}

.detail {
    padding: 10px;
    transition: width 1s ease-in-out;
}

.damage {
    background-color: rgb(255, 255, 255);
}
.range {
    background-color: white;
}
.firerate {
    background-color: white;
}
.reload {
    background-color: white;
}
.accuracy {
    background-color: white;
}

.page1 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.page2 {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
}
.page2 .grid-item {
    display: none;
}
.previous {
    display: none;
}
.pageChanger {
    padding-left: 50rem;
}
button {
    width: 8rem;
    font-family: "EB Garamond", serif;
}
.grid-item {
    font-size: 30px;
    text-align: center;
}

.next {
    width: 12rem;
    background-color: black;
    height: 2.5rem;
    border: none;
    font-size: large;
    color: white;
}

.previous {
    width: 12rem;
    background-color: black;
    border: none;
    font-size: large;
    height: 2.5rem;
    color: white;
}

.footnote {
    text-align: right;
}
